
/* Shared Style */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    margin-top: 32px;
    transition: 0.3s;
    cursor: pointer;
}
.btn-primary:hover{
    background: #965103;

}
.shared-text-color{
    color: #727272;
}
.OfOur-shared{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* Banner style */

.header-area{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 50px;
    font-weight: 500;
    font-size: 1rem;
}
ul li a{
    text-decoration: none;
    color: #424242;
    padding: 10px 20px;
    transition: 0.3s;
    border-radius: 10px;
} 
ul li a:hover{
    color: #ffffff;
    background-color: #965103;
}
.menu-bar h3{
    color: #131313;
    font-size: 2.8em;
    font-weight: 700
}
.banner-content{
    text-align: center;
    margin: 0 auto;
}
.banner-description h2{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description p{
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
}
.banner-img img{
    width: 100%;
    margin-top: 50px;
}


/* Main style */
.main-area{
    max-width: 1440px;
    margin: 70px auto;
}

/* Team style */
.team-container{
    display: flex;
    align-items: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-content h2{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.QFeatures{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.team-content p{ 
    font-weight: 400;
    margin-top: 24px;
}

/* Feature section style */
.features-container{
    display:flex;
    justify-content: space-between;
    margin: 130px 0;
}
.features{
    width: 40%;
}
.feature-img{
    width: 40%;
}
.feature-img img{
    width: 100%;
    
}
.features h3{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 3px solid #FF900E;
    padding-left: 20px;
    margin: 30px 0;
}
.features-content{
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    margin-top: 30px;
}
.features-content h4{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-img img{
    height: 90%;
}
.experience{
    border-radius: 8px;
    background: #FF900E;
    padding: 45px;
    width: 342px;
    text-align: center;
    align-items: center;
    font-size: 4rem;
    color: #ffffff;
    position: relative;
    bottom: 130px;
    right: 150px;
}
.experience h3{
    font-size: 1.5rem;
}


/* Facts area style */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts .shared-text-color{
    width: 542px;
    margin-top: 24px;
    margin-bottom: 100px;
} 
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 25px 20px;
    text-align: center;
    align-items: center;
}
.facts-card-container .card:last-child{
    padding: 20px 35px;
}
.card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}
.card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Sponspors area style */
.sponsers-area{
    margin-top: 150px;
}
.sponsers-area, .footer-text{
    text-align: center;
    align-items: center;
}
.sponsers-area h2{
    margin-bottom: 24px;
}
.sponsers-area p{
    margin-top: 24px;
    width: 542px;
    margin: 0 auto;
}
.sponsers-img-rapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.sponsers-img{
    cursor: pointer;
}



/* Footer area style */
.footer-text{
    padding: 40px 0;
    border-radius: 8px;
    background: #FFF4E7;
    margin-top: 130px;
    margin-bottom: 150px;
}
.footer-text p{
    font-size: 1.25rem;
    font-weight: 400;
}

