/* Header area responsive */

/* Mobile Device */
@media screen and (max-width: 576px) {
    .header-area{
        padding: 20px;
    }
    .menu-bar, .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Tablet or medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    .header-area{
        padding: 50px;
    }
    .menu-bar, .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
}