/* Banner area responsive */

/* Mobile device */
@media screen and (max-width: 576px){
    .menu-bar{
        flex-direction: column;
        padding: 20px;
    }
    .banner-description h2, .banner-description p{
        width: 100%;
    }
    .menu-bar h3{
        margin-bottom: 20px;
    }
    ul li:first-child a{
        margin-left: 0;
    }
    
}

/* Medium device or Tablet*/
@media screen and (min-width: 577px) and (max-width: 960px){
    .menu-bar{
        flex-direction: column;
        padding: 20px;
    }
    .banner-description h2, .banner-description p{
        width: 100%;
    }
    .menu-bar h3{
        margin-bottom: 20px;
    }
    ul li:first-child a{
        margin-left: 0;
    }
    
}